/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url(../img/Screen\ Shot\ 2021-03-13\ at\ 9.13.55\ PM.png);
  color:red;
  background-size: cover;
  font-size: 1.5rem;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
